@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: grid;
  height: 100vh;
  place-items: center;
  background: #be2edd;
}
.main_div {
  width: 400px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.main_div .title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #333;
}
.main_div .social_icons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.social_icons a {
  display: block;
  height: 50px;
  width: 100%;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s linear;
}
.social_icons a span {
  margin-left: 5px;
  font-size: 18px;
}
.social_icons a:first-child {
  margin-right: 5px;
  background: #4267b2;
}
.social_icons a:first-child:hover {
  background: #375695;
}
.social_icons a:last-child {
  margin-left: 5px;
  background: #1da1f2;
}
.social_icons a:last-child:hover {
  background: #0d8bd9;
}
form {
  margin-top: 25px;
}
form .input_box {
  height: 60px;
  width: 100%;
  position: relative;
  margin-top: 15px;
}
.input_box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 8px;
  padding-left: 48px;
  font-size: 18px;
  transition: all 0.3s ease;
}
.input_box input:focus {
  border-color: #be2edd;
}
.input_box .icon {
  position: absolute;
  top: 50%;
  left: 22px;
  transform: translateY(-50%);
  color: grey;
}
form .option_div {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.option_div .check_box {
  display: flex;
  align-items: center;
}
.check_box input {
  display: flex;
  align-items: center;
  height: 15px;
  accent-color: #be2edd;
  width: 15px;
}
.check_box label {
  margin-left: 8px;
  font-size: 16px;
  color: #333;
}
.option_div .forget_div a {
  font-size: 16px;
  color: #be2edd;
}
.button input {
  margin-top: 20px;
  padding-left: 0;
  background: #be2edd;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s linear;
}
.button input:hover {
  background: #a720c5;
}
form .sign_up {
  text-align: center;
  margin-top: 35px;
}
.sign_up a {
  color: #be2edd;
}
form a {
  text-decoration: none;
}
form a:hover {
  text-decoration: underline;
}
